
        <head>
                <meta charset="utf-8">
                <title>Admin</title>
                <link rel="stylesheet" href="/css/admin.css">

        </head>
        <body>
                <h6>Available waiters</h6>
                <table>
                        <th>{{daysToWork}}</th>
                        <tr>
                                <td>{{waiter}}</td>
                        </tr>
                </table>

                <!-- <p><a href="/greets">Home page</a></p> -->
        </body>


        <!-- h6>Greeted names</h6>
        <ul>
                {{#each greets}}
                <li><a href="/counter/{{this._id}}">{{this.nym}}</a></li>
                {{/each}}
        </ul> -->
