
        <head>
                <meta charset="utf-8">
                <title>Admin</title>
                <link rel="stylesheet" href="/css/admin.css">

        </head>
        <body>
                <h6>Available waiters</h6>
                <table align="center">
                        <th>MONDAY</th>
                        <th>TUESDAY</th>
                        <th>WEDNESDAY</th>
                        <th>THURSDAY</th>
                        <th>FRIDAY</th>
                        <th>SATURDAY</th>
                        <th>SUNDAY</th>

                        {{#each dataCollected}}
                        <tr>
                                <td>{{this.waiterName}}</td>
                        </tr>
                        {{/each}}
                </table>

                <!-- <p><a href="/greets">Home page</a></p> -->
        </body>
