
        <head>
                <meta charset="utf-8">
                <title>days</title>
        </head>
        <body>
                <form action="/days" method="get">
  <input type="checkbox" name="day" value="">Monday <br>
  <input type="checkbox" name="day" value="">Tuesday<br>
  <input type="checkbox" name="day" value="">Wednesday<br>
  <input type="checkbox" name="day" value="">Thursday<br>
  <input type="checkbox" name="day" value="">Friday<br>
  <input type="checkbox" name="day" value="">Saturday<br>
  <input type="checkbox" name="day" value="">Sunday<br>
  <input type="submit" value="Submit">
</form>

        </body>
