<head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="waiter_webapp.css">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> -->
</head>

<body align="center">
        <h1>WAITER AVAILABILITY APPLICATION</h1>
        <form class="" action="/waiters" method="post">
                <label>UserName:</label>
                <input type="text" name="userName" value="" placeholder="Please enter your name">
        <input type="submit" name="" value="start">
        <br><br><br>
        <div class="display">
                {{#each person}}
                {{this.waiterUser}}
                {{/each}}

        </div>
<br><br><br>
<div class="error">
        {{messages.error}}

</div>
        </form>

</body>
