<head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="/css/waiter_webapp.css">
</head>

<body align="center">
        <h3>WAITER AVAILABILITY APPLICATION</h3>
        <br><br><br><br><br>

        <div class="alert">
          <strong>NB:</strong> Helo waiter, please type your name in the URL so that you can be able to choose the days you wanna work on!!!
        </div>
<div class="error">

        {{messages.error}}
</div>

</body>
