body {
        background-color: lavender;
        background-image: url(waitress.jpg);
        background-size: cover;
        background-attachment: fixed;
        margin: 50px;
}

h6 {
        font-size: 2em;
        font-family: 'Gochi Hand', border-style: inset;
        text-align: center;
        text-shadow: 1px 1px 2px black, 0 0 25px darksalmon, 0 0 5px white;
}

h1 {
        font-family: 'Akronim', cursive;
        background-color: silver;
        font-size: 4em;
        text-align: center;
        text-shadow: 1px 1px 2px black, 0 0 25px darksalmon, 0 0 5px blue;
}

.error {
        font-size: 2em;
        color: green;
        text-align: center;
        position: absolute;
        left: 0;
        right: 15em;
        margin: auto;
        text-shadow: 1px 1px 2px black, 0 0 25px darksalmon, 0 0 5px blue;

}


.form-group{
        border-radius: 60px;
        position: absolute;
        left: 25em;
        right: 0;
}
.wsd {
        margin-right: -144px;
}

input{
        background-color: red;
}


.output{
        color: red;
        font-size: 2em;
        text-align: center;
        position: absolute;
        left: 10;
        right: 15em;
        margin: auto;
        text-shadow: 1px 1px 2px black, 0 0 25px darksalmon, 0 0 5px blue
}


.name{
        font-size: 2em;
        text-align: center;
        position: absolute;
        left: 10;
        right: 15em;
        margin: auto;
        text-shadow: 1px 1px 2px black, 0 0 25px darksalmon, 0 0 5px blue;
}
