body {
        margin: 50px;
        background-color: lavender;
        background-image: url(waitress.jpg);
        background-size: cover;
        background-attachment: fixed;
}


h3 {
        background-color: silver;
        font-size: 4em;
        font-family: 'Gochi Hand', border-style: inset;
        font-weight: bolder;
        text-align: center;
        text-shadow: 1px 1px 2px black, 0 0 25px darksalmon, 0 0 5px blue;
}


.alert {
    background-color: darksalmon;
    color: green;
    font-weight: bold;
    font-size: 1.5em;
}
