body{
        background-color: lavender;
        /*background-image: url(background.jpg);*/
        background-size: cover;
        background-attachment: fixed;
}

.error{
        color: red;
        font-size: 1.5em;
}

.display{
        font-size: 1.5em;
}

form{
        background-color: slategrey;
border-radius: 60px;
width: 40em
}
h1{
        font-size: 4em;
        font-family: 'Gochi Hand', border-style: inset;
font-weight: bolder;
text-align: center;
text-shadow: 1px 1px 2px black, 0 0 25px darksalmon, 0 0 5px blue;

}
